* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #00CC66;
    width: 100%;
}

header {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #33CC99;
    height: 350px;
}

.header-c {
    position: relative;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background: #3366FF;
    left: 50%;
    top: 200px;
    margin-left: -150px;
    margin-top: -150px;
    box-shadow: 0 0 20px #3366FF;
}

.header-c h1 {
    line-height: 300px;
    color: wheat;
    text-shadow: 8px -6px 6px rgb(95, 149, 219);
    font-size: 50px;
}

.header-c h1:hover {
    color: rgb(212, 130, 212);
}

/*主体*/

.body {
    width: 80%;
    position: relative;height: 1111px;
}

.main {
    margin-top: 200px;
    margin-left: 10%;
    width: 70%;
}

.part1 {
    position: relative;
    background: #FFFFCC;
    border-radius: 25px 25px 25px 25px;
    height: 200px;
    box-shadow: 2px 2px 2px rgb(128, 133, 139);
    margin: 20px;
}

.float {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 80px;
    height: 80px;
    background: #FF6633;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    margin-top: -40px;
    cursor: pointer;
}

.float a {
    font-size: 30px;
    color: #CCFF66;
    text-decoration: none;

}

.float:hover{
    background: #990000;
}
.float:hover a{
    color: #FFFF33;
}

.part1-1{
    margin-left: 180px;
}
.part1-1 h4{
    line-height: 80px;
    font-size: 30px;
    font-family: KaiTi;
}
.part1-1 p{
    margin-top: -20px;
    line-height: 50px;
    font-family:NSimSun; 
}
.part1-1 p:nth-child(2){
    color: rgb(100, 99, 99);
}


aside{
    position: absolute;
    top: 0;
    right: 0;
    height:800px;
    width: 20%;
    background: rgb(97, 174, 204);
    border-radius: 25px 25px 25px 25px;
box-shadow: 2px 2px 2px rgb(128, 137, 139);
line-height: 200px;
text-align: center;
}
aside p{
    font-size: 180px;
    color: wheat;
}
footer{
    clear: both;
    width: 100%;
    background: #3366FF;
    text-align: center;
    height: 50px;
    line-height: 50px;

}
footer p{
    color: white;
}